<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>
<div *ngFor="let message of messages | async">
  <div>{{ message.name }}</div>
  <div>{{ message.message }}</div>
  <hr/>
</div>
<div>
  <label>Name: </label>
  <input type="text" [(ngModel)]="name"/>
</div>
<div>
  <label>Message: </label>
  <input type="text" [(ngModel)]="message"/>
</div>
<div>
  <button (click)="sendMessage()">Send</button>
</div>
